*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    height: 100px;
    font-size: 24px;
    padding: 0px 16px;
    position: fixed;
    background-color: white;
    z-index:1;
}

header nav img#pinterest-icon {
    width: 40px;
    padding-left: 3px;
}

header nav img#pinterest-icon:hover {
    background-color: #E9E9E9;
    border-radius: 150px;
}

.primero{
    display: flex;
}

.primero a {
    text-decoration: none;
    color: #111111;
}

.primero li {
    padding: 0px 12px;
    list-style: none;
}

.primero li #inicio {
    background-color: #111111;
    color: white;
    border-radius: 25px;
    padding: 14px 12px 14px;
}

.buscar{
    flex-grow: 1;
    height: 48px;
    background-color: #E9E9E9;
    border-radius: 30px;
}

.buscar:hover {
    background-color: #E1E1E1;
}

.buscar:focus-within {
    border: 4px solid #7FC1FF;
}

.barra {
    display: flex;
    align-items: center;
    height: 48px;
}

#lupa {
    padding: 10px;
    color: #767676;
    font-size: 20px;
    font-weight: bolder;
}

.barra input {
    border: none;
    outline: none;
    background-color: inherit;
    padding: 0px 8px 0px 0px;
    font-size: 16px;
    flex-grow: 1;
}

.barra input:hover + .material-symbols-outlined {
    display: none;
}

.botones-derechos span {
    padding: 8px;
    color: #767676;
    font-size: 28px;
}

.botones-derechos span:hover {
    background-color: #E9E9E9;
    border-radius: 150px;
}



img{
   border-radius: 25px;
   
}

.pinguino{
    border-radius: 25px;
    width: 40px;
}

.abuelo{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5.5%;
    flex-wrap: wrap;
    gap: 2%;
}

#iamgeness{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.padre{
    border: #ffffff 5px solid;
   width: 250px;
   height: 430px;
}


.hijo{
    border-radius: 25px;
    width: 243px;
    height: 428px;
    position: absolute;
    background-color: #0000003c;
    opacity: 0;
    transition: 2.5s;
    cursor: pointer;
}

.hijo:hover{
    opacity:1 ;
    transition: 2.5s;
}

.btn{
    position: absolute;
    bottom: 5%;
    right: 5%;
    padding: 4%;
    border-radius: 20px;
    color: white;
    background-color: red;
}

.btn:hover{
    cursor: pointer;
    color: #111111;
}

